<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095335534536-2fu9e4snak2qovrb40mhd1lus7pklupb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095335534536-2fu9e4snak2qovrb40mhd1lus7pklupb</string>
	<key>API_KEY</key>
	<string>AIzaSyB29myrV5p_p8aAdvpeHBl3vAEkKuTyWX0</string>
	<key>GCM_SENDER_ID</key>
	<string>1095335534536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-e0530</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-e0530.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095335534536:ios:df4f9286c6175548</string>
	<key>DATABASE_URL</key>
	<string>https://artable-e0530.firebaseio.com</string>
</dict>
</plist>